name: Go CI

on:
  push:
    branches:
      - main
    paths:
      - ".github/workflows/go.yaml"
      - "go.mod"
      - "go.sum"
      - "**/*.go"
      - ".golangci.yaml"
  pull_request:
     paths:
      - ".github/workflows/go.yaml"
      - "go.mod"
      - "go.sum"
      - "**/*.go"
      - ".golangci.yaml"
  workflow_call:  # Make this workflow reusable

permissions:
  contents: read
  pull-requests: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ !contains(github.ref, 'main') }}

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: "go.mod"

      - name: Verify dependencies
        run: go mod verify

      - name: Go mod tidy -diff
        run: go mod tidy -diff

      - name: Test
        run: go test -race -v ./...

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: "go.mod"

      - name: Golangci-lint
        uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0
        with:
          args: --timeout=5m
          version: v2.4.0

  govulncheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: "go.mod"

      - name: govulncheck
        uses: golang/govulncheck-action@b625fbe08f3bccbe446d94fbf87fcc875a4f50ee # v1.0.4
        with:
          cache: true
          check-latest: false
          go-package: ./...
          go-version-file: "go.mod"
          go-version-input: ""
          repo-checkout: false
